  /* CSS layout */
html {
	overflow: scroll;
}

body {
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 25;
	padding: 0;
	background-color: #FFFFFF;
	background-image: url('images/bg.jpg');
	background-repeat: repeat;
	background-attachment: fixed;
}

p {
	font-size: 0.8em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: -6px;
}

h1 {
	font-size: 1.3em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #478F3A;
	margin-bottom: 30px;
}

h2 {
	font-size: 1.1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0060AA;
}

h3 {
	font-size: 0.9em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0080CC;
}

ul {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
}

li {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a img {
	border: none;
	text-decoration: none;
}

#roundtable {
	}

#block {
	width: 100%;
	background-color: #FFFFFF;
	/*padding-top: 14px;*/
}

#top_nav {
	text-align: center;
}

#container {
	min-width: 600px;
	background: F8F8F8;
}

#left_col {
	width: 155px;
	float: left;
	padding-left: 5px;
	border-left: none;
	border-top: 1px #478F3A solid;
	font-size: 0.9em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #0060AA;
	font-weight: bold;
}

#page_content {
	margin-left: 155px;
	padding-left: 30px;
	padding-right: 10px;
	background-color: FFF;
	height: auto;
}

#footer {
	clear: both;
	border-top: 1px #478F3A solid;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 0.8em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

#fullhr {
	width: 85%;
	color: #CCCCCC;
}

#caption {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
	color: #0080CC;
	margin-bottom: -8px;
}