/* CSS Document */

/*Template Layout*/
body {
	background-color:#d4be95;
	background-image:url(images/page_bg_tile_blue.jpg);
	background-position:top;
	background-repeat:repeat;
	margin:0px;
	padding:0px;
	color:#7a654a;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.5em; /* vertical spacing between your lines of text*/
	text-align:center;
}
a, a:link, a:visited {
	color:#7a654a;
}
a:hover {
	color:#7a654a;
	text-decoration:none;
}
#background_texture {
	background:url(images/page_bg_blue.jpg) top repeat-x;
}
#leaf {
	background:url(images/header_bg_blue.jpg) center 71px no-repeat;
}
#wrapper {
	width:940px;
	margin:0px auto; /*centers your design on the page*/
	text-align:left;
}
#header {
	height:100px;
	width:940px;
	clear:both;
}
#logo {
	width:358px; /*change this width and height to match your logo image*/
	height:78px;
	position:absolute;
	margin-top:10px;
}
#header_contact {
	width:244px;
	height:109px;
	position:absolute;
	padding:10px 0px 0px 660px;
}
#header_menu { /*the container that holds the main menu*/
	height:42px;
	margin:0px 0px 0px 0px;
	clear:both;
}
ul#navigation {
	margin:0px;
	padding:0px;
	margin-top:1px;
	height:42px;
	position:absolute;  /*makes dropdown sit on top of flash & map*/
	z-index:100; /*makes dropdown sit on top of flash & map*/
}
ul#navigation li {
	float:left;
	list-style:none;
	display:inline;
	padding:0px;
	margin:0px;
}
ul#navigation a, ul#navigation a:link, ul#navigation a:visited {
	float:left; /*makes the text sit beside each other not down the page*/
	color:#ffffff; /*menu color normal*/
	padding:10px 13px 11px 13px; /*space around and inbetween the buttons, top, right, bottom, left*/
	height:18px;
	text-decoration:none; /*no underline*/
	text-transform:uppercase; /*all in capitals*/
	font:14px "Trebuchet MS", Arial; /*menu text size and font*/
	letter-spacing:1px; /*space out the letters, remove if you want it normal*/
	background-image:url(images/menu_divider.gif); /*the bar between each button*/
	background-position:right center;
	background-repeat:no-repeat;
}
ul#navigation li.hover a, ul#navigation li:hover a, ul#navigation a.active, ul#navigation a:hover {
	background-color:#d3bd96; /*color behind the menu text*/
	color:#5a564b; /*color of text on mouse over*/
}
/*--drop down menu second-level - this is optional--*/
ul#navigation li.hover, ul#navigation li:hover {
	position:relative;
}
ul#navigation li.hover ul.second-level, ul#navigation li:hover ul.second-level {
	display:block;
}
ul#navigation li.hover ul.second-level ul.third-level, ul#navigation li:hover ul.second-level ul.third-level {
	display:none;
}
ul#navigation ul.second-level {
	position:absolute;
	top:35px; /*how far away from the top menu*/
	left:0;
	margin:0;
	padding:5px;
	width:160px;
	display:none;
	background-color:#d3bd96; /*color of the dropdown*/
}
ul#navigation ul.second-level li {
	width:160px;
	margin:0;
}
ul#navigation ul.second-level a, ul#navigation ul.second-level a:link, ul#navigation ul.second-level a:visited {
	display:block;
	float:none;
	width:140px;
	border:none;
	padding:3px 13px 8px 13px; /*space around and inbetween the buttons, top, right, bottom, left*/
	background:none;
	font:12px/24px Arial, Helvetica, sans-serif; /*font size and line height*/
	color:#5a564b;
	border-bottom:1px solid #cbaf7c;
	text-transform:capitalize;
}
ul#navigation ul.second-level li.hover a, ul#navigation ul.second-level li:hover a, ul#navigation ul.second-level a:hover {
	color:#FFFFFF;
	background-color:#cbaf7c;
}
#content_bg { /*the 2 columns of white*/
	background-image:url(images/content_box_tile.png);
	background-repeat:repeat-y;
}
.top {
	margin-top:20px;
	width:940px;
	height:10px;
}
.bottom {
	width:940px;
	height:21px;
}
#left_column {
	float:left;
	width:610px; /*640px minus the padding on left and right*/
	padding:15px;
	min-height:200px;
}
#right_column {
	float:right;
	width:280px; /*290px minus the padding on left and right*/
	padding:0px 5px 5px 5px;
}
hr.clear {
	margin-top:10px;
	margin:0px;
	clear:both;
	visibility:hidden;
}
#footer {
	height:70px;
	width:940px;
	margin:0px auto;
	color:#986d38;
	font-size:10px;
	padding-top:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	clear:both;
}
#footer a, #footer a:link, #footer a:visited {
	color:#986d38;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:underline;
}
#footer .right {
	width:450px;
	float:right;
	text-align:right;
}
#footer .left {
	width:400px;
	float:left;
	text-align:left;
}
/*General Content*/

h1 {
	font-family:"Trebuchet MS", Arial;
	font-size:20px;
	color:#616101;
	font-weight:normal;
	margin-top:0px;
}
h2 {
	color:#9bab00;
	font-family:"Trebuchet MS", Arial;
	font-size:16px;
	margin-top:0px;
	margin-bottom:3px;
	font-weight:normal;
	letter-spacing:1px;
}
h3 {
	color:#7a654a;
	font-family:"Trebuchet MS", Arial;
	font-size:14px;
	font-weight:normal;
	letter-spacing:1px;
}
.size11 {
	font-size:11px;
}
.image_border {
	border:1px solid #d9c399;
	margin:3px;
	padding:3px;
}
hr {
	border: 0;
	color: #c9c4b3;
	background-color: #c9c4b3;
	height: 1px;
	width: 100%;
	clear:both;
}
/*side bar*/

.top_title {
	width:264px; /*280px minus the padding*/
	height:29px; /*36px minus padding*/
	margin:0px 0px 5px 0px;
	padding:6px 3px 0px 13px;
	background-image:url(images/column_top_title_blue.jpg);
	background-repeat:no-repeat;
	background-position:top;
	color:#FFFFFF;
	font-family:"Trebuchet MS", Arial;
	font-size:14px;
}
.news_item {
	font-size:12px;
	border-bottom:1px dashed #c9c4b3;
	padding:5px;
	margin-bottom:5px;
}
.news_item p {
	margin:0px;
	padding:0px;
}
.news_title {
	color:#2180ac;
	font-weight:bold;
}
.news_title a, .news_title a:link, .news_title a:visited {
	text-decoration:none;
}
.news_title a:hover {
	text-decoration:underline;
}
.quote_box_container {
	width:252px; /*280px minus padding*/
	height:83px; /*107px minus padding*/
	margin:10px 0px;
	background:url(images/box_blue.jpg) no-repeat top;
	padding:10px 14px 14px 14px;
}
.quote_box_container .title {
	font-family:"Trebuchet MS", Arial;
	color:#5e5e00;
	font-size:18px;
}
.quote_box_container .image {
	float:right;
	width:67px;
	height:64px;
	margin:0px 0px 0px 0px;
}
.quote_box_container .text {
	float:right;
	width:185px;
	font-size:12px;
	padding:5px 0px;
	line-height:normal;
	color:#FFFFFF;
}
.quote_box_container .text p {
	padding:0px;
	margin:0px;
}
.quote_box_container a, .quote_box_container a:visited, .quote_box_container a:link, .quote_box_container a:hover {
	text-decoration: none;
	color:#5e5e00;
}
.testimonial {
	width:260px; /*280px minus padding*/
	height:138px; /*160px minus padding*/
	padding:14px 10px 8px 10px;
	background:url(images/testimonial_bg.jpg) no-repeat top;
	font-size:11px;
	line-height:17px;
}
.testimonial .title {
	font-family:"Trebuchet MS", Arial;
	font-size:14px;
	color:#7a654a;
	padding-bottom:5px;
}
.testimonial p {
	padding:0px;
	margin:0px;
}
.italic {
	font-style:italic;
}
/*Home Page*/

.service_box_container {
	width:610px;
	border-bottom:1px dashed #c9c4b3;
	margin-bottom:5px;
}
.service_box_container .image {
	float:left;
	width:67px;
	height:67px;
	margin:10px 0px 0px 22px;
}
.service_box_container .text {
	float:right;
	width:490px;
	font-size:12px;
	padding:5px 0px;
}
.service_box_container .text p {
	padding:0px;
	margin:0px;
}
/*Services Page*/

.service_table {
	border-bottom:1px solid #7a654a;
}
.service_table td {
	padding:3px 8px;
	color:#7a654a;
	font-size:12px;
	height:28px;
}
th { /*top row of the table*/
	background-color:#7a654a;
	color:#FFFFFF;
	font-weight:bold;
	border-bottom:1px solid #ffffff;
	height:28px;
	text-align:center;
}
.row1 {
	background-color:#eee4c9;
}
.row2 {
	background-color:#f7f2dc;
}
ul.ticklist {
	padding:0px 0px 0px 15px; /*indent whole list*/
}
ul.ticklist li {
	list-style:none;
	background-image:url(images/icon_tick.gif);
	background-position:left top;
	background-repeat:no-repeat;
	margin:0px 0px 10px 0px;
	padding:0px;
	padding-left:25px;
	font-size:11px;
	line-height:normal;
}
/*Contact Page*/

.left_details {
	float:left;
	width:240px;
}
.map {
	width:357px;
	height:225px;
	float:right;
}
.contact_title {
	color:#616101;
	font-weight:bold;
	float:left;
	width:70px;
}
.contact_detail {
	float:left;
	width:100px;
	clear:right;
}
.forms {
	background-color:#FFFFFF !important; /*the important gets rid of the yellow google toolbar field style*/
	border:1px solid #c9c4b3 !important;
	margin:3px 0px;
	padding:4px;
}
.green {
	color:#616101;
}
#contact {
	border:0;
}
#contact label {
	float:left;
	width:80px;
	margin-right:15px;
	clear:left;
	color:#616101;
	font-weight:bold;
	text-align:right;
	height:32px;
}
#contact input, #contact textarea {
	margin-right:40px;
}
#contact #submit {
	clear:left;
	margin-left:95px;
}
/*Blog Page*/

.post {
	clear:both;
	padding-top:10px;
	width:auto;
	border-bottom:solid 1px #c9c4b3;
	margin-bottom:10px;
}
.post .date {
	float:left;
	width:80px;
	border-right:1px solid #c9c4b3;
	margin:10px 20px 0px 0px;
}
.post .date .day {
	display:block;
	font-size:60px;
	padding:16px 0;
	font-weight:bold;
	color:#bb9b68;
}
.date .month, .date .year {
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color:#c9c4b3;
}
.date .month {
	letter-spacing:14px;
	padding-left:6px;
}
.date .year {
	letter-spacing:10px;
	padding-left:5px;
}
.post-content {
	float:right;
	width:500px;
}
.post-content h3 {
	font-size:22px;
	line-height:36px;
	margin:0px;
	padding:0px 0px 10px 0px;
	color:#ffffff;
}
.post-content .short {
	font-size:13px;
	line-height:18px;
}
.tags {
	font-size:11px;
	border-top:dashed 1px #c9c4b3;
	border-bottom:dashed 1px #c9c4b3;
	margin:5px 0px;
}
.blog_image {
	border:1px solid #631714;
	margin:5px 0px 5px 10px;
	padding:3px;
	float:right;
}

/* Colours used 
 * #8dbfed top
 * #1f81dc middle
 * #8dbfed bottom
 * #daeafb main background
 */
